@import url('https://fonts.cdnfonts.com/css/holtwood-one-sc');

#blogName{
    font-family: 'Holtwood One SC', sans-serif;                                          
}
header{
    min-height: 20vh;
}
#nav{
    background-color: #1e1e1e;
    width: 90vw;
}
#nav-container{
    background: linear-gradient(to bottom, black 50%, transparent 50%);
}
.active{
    background-color: white;
    color: black;
}
.active:hover{
    color: black;
}
.horizontal-line {
    border-top: 1px solid black;
}